html {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #17212B;
}

.chatsPage {
    background-color: #17212B;
    height: 100%;
}

#chatParent {
    padding: 0;
    padding-top: 10px;
}

.chat {
    background-color: #0E1621;
    position: relative;
    height: 100%;
    width: 100%;
}

.header {
    position: relative;
    top: 0;
    background-color: #17212B;
    width: 100%;
    height: 60px;
    border-left-style: solid;
    border-left-width: 1.2px;
    border-left-color: #101921;
    border-right-style: solid;
    border-right-width: 1.2px;
    border-right-color: #101921;
}

.middle {
    top: 60px;
    bottom: 60px;
    width: 100% ;
    overflow-y: scroll;
    height: 83vh;
}

.bottom {
    position: relative;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color: #17212B;
    border-left-style: solid;
    border-left-width: 1.2px;
    border-left-color: #101921;
    border-right-style: solid;
    border-right-width: 1.2px;
    border-right-color: #101921;
}

#messages {
}

.message {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 2px;
    clear: both;    border-style: none;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    clear:both;
    float:left;
    min-width: 80px;
    max-width: 40vw;
    padding-left: 7px;
    padding-right: 7px;

}

.sent {
    background-color: #2A5378;
    color: #E5EDE8;
    float: right;
    margin-right: 10px;
}

.sentMessageTime {
    color: #7DA8D3;
    float: right;
}

.recievedMessageTime {
    float: left;
    color: #6D7F8F;
}

.recieved {
    background-color: #182533;
    color: #E5F5F5;
    float:left;
    margin-left: 10px;
}

.messageForm {
    background-color: #17212B;
    padding-top: 13px;
    display: inline-block;
}

#messageInput  {
    margin-left: 100px;
    width: 450px;

    height: 40px;
    border-color: #7DA8D3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #17212B;
    color: white;
}

#messageSendButton {
    margin-top: 7px;
    margin-left: 10px;
    background-image: url('../pics/pngkit_send-icon-png_1882365.png');
    background-size: cover;
    background-color: #17212B;
    border-color: #17212B;
    border-style: none;
    color: #5289C1;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 90%;
}

.emojis {
    background-color: #17212B;
    height: 100%;
    width: 100%;
}
